.indexbody {
    background-color:#fff;
}

.titlelink {
    text-decoration:none;
    font-weight:bold;
    color:dodgerblue;
    font-size:large;
}

.main {

    border-radius:8px;
    padding:8px;
    font-family:Arial;
}

#bodycontent {
    background-color: whitesmoke;
    border-radius:8px;
    padding:8px;
    font-family:Arial;
}
#addAPI {
    border:1px solid grey;
    cursor:hand;
    background-color:gray;
    color: whitesmoke;

}
button {
    border-radius:6px;
    margin-left:5px;
    padding-left:6px;
    padding-right:6px;
    padding-top:1px;
    padding-bottom:1px;
    border:1px solid silver;
    background-color:gainsboro;
}

#crud_table {
    border:none;
    border-radius:5px;
    border:1px solid silver;
}

#crud_table td {
    padding:7px;
    border-radius:3px;
    vertical-align:top;
    background-color:silver;

}
#apiTitle {
    padding-left:10px;
    padding:5px;
    background-color:whitesmoke;
    font-size:x-small;
    border-radius:5px;
    color:grey;
}
.tabActive {
    background-color:gainsboro;
    font-weight:bold;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-bottom:8px;
    border-bottom: 1px solid gainsboro;

}
.tabInactive {
    background-color: whitesmoke;
    font-weight: normal;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-bottom:8px;
    border-bottom: none;

}
.tab {
    border-radius:3px;
    margin-left:5px;
    padding:8px;
    background-color: gainsboro;
}

#tabs {
    color:grey;
}
.crudbutton {

    border-radius:3px;
    border:1px solid grey;
}

.tablePanel {
    background-color:lightgray;
    margin-left:10px;
    border-spacing: 0;
    border-radius:5px;
    padding:5px;
}

#gridDiv {
    background-color:lightgray;
}
#grid{
    background-color:gainsboro;
    margin-left:10px;
    border-spacing: 0;
}
#grid tr td {
    padding:5px;
    border: 1px solid silver;
    margin: none;
    padding-right:10px;

}
.gridHeader {
    background-color:silver;
    font-weight:bold;
    margin: 3px;
    text-align:center;
}

.tablesButton {
    border: 1px solid dimgray;
}
.tableButton {
    margin-left:15px;
    border: 1px solid dimgray;
    color: dimgray;

}
.tableButtonActive {
    background-color:whitesmoke;
    color:black;
    margin-left:15px;
    font-weight: bold;
    border: 1px solid dimgray;
}
.debug {
    background-color:lemonchiffon;
}
.metadataHeader {

}
.metadataData {
    border:1px solid dimgray;
}

#tableDetails {
    background-color:#D3D3D3;
    padding:5px;

}


#tableDetailsTable {

}
#tableList {
    display: table-cell;
    vertical-align: top;
}
#tableListTd {
    padding-top:5px;
    padding-right:10px;
    display:flex;
}
#setApiButton {
    border: 1px solid silver;
    background-color:whitesmoke;
}
#debug {
    background-color: lightsteelblue;
    padding:5px;
}
.grid1 {
    border-radius:10px;
    border-collapse: collapse;
    font-size:larger;
}
.grid1 td {
    border: 1px solid dimgray;
    font-size: smaller;
    color: #555;
}
.gridHeader {
    padding:4px;
}
.gridData {
    background-color: silver;
    padding:4px;
}
.gridDataLabel {
    background-color: #c9c9c9;
    padding:4px;
    border:none !important;
    border-bottom:2px solid lightgrey !important;
    border-top:2px solid lightgrey !important;

}
.crudMainPanel {
    vertical-align:top;
}
.newItemForm {
    background-color:gray;
    border-collapse: collapse;
}
.newItemForm td {
    border: 1px solid dimgray;
}
#formItem {
    background-color: lightgray;
}
.formSubmitCell {
    padding:3px;
    background-color: lightgray;
    padding-top:8px;
    border:1px solid lightgray !important;
}
.formSubmitButton {
    float:right;
    border:1px solid dimgray;
    background-color:gainsboro;
    color:dimgray;

}
input {
    background-color:gainsboro;
    border:none;
    border-radius:4px;
    margin:2px;
    color:dimgray;
}
.callStatus {
    padding-top:5px;
    padding-left:15px;
}

.callStatusDiv {
    padding:2px;
    padding-left:5px;
    margin-top:5px;
    margin-left:20px;
    background-color: #e0e0bf;
    border-radius:5px;
    visibility: hidden;
}

.PK {
    background-color:SkyBlue;
    padding:4px;
}
.PKheader {
    background-color:SkyBlue;
    font-weight:bold;
    padding:4px;
    text-align:center;
}
.SK {
    background-color: LightGreen;
    padding:4px;
}
.SKheader {
    background-color:LightGreen;
    font-weight:bold;
    padding:4px;
    text-align:center;
}
#tableCrudButtons {

}
#tableCrudButtons td {
    padding:2px;
    border-radius:4px;
    background-color:lightgray;
    padding-right:12px;
}

.findButton{
    width:80px;
    border: 1px solid dimgray;
    color: dimgray;
    margin-left:4px;
}
.getFormCell {
    border:1px solid silver;
    border-radius:4px;
    border-spacing: 10px;
    font-size:smaller;
    padding-left:6px !important;
    padding-right:8px !important;
    color:dimgray;
}

.pkFindBox {
    background-color:gainsboro;
    margin-left:5px;
    border:1px solid silver;
    width:80px;

}

#btnGenerate {
    font-weight:bold;
}

.GenVisible {
    visibility: visible;
    background-color:silver;
    margin-top:20px;
    padding:10px;
    border-radius:5px;
    font-size:smaller;
    color:dimgray;
    /*visibility:hidden;*/
}
.GenHidden {
    height:300px;
    visibility:hidden;
}
#textGen {
    background-color:lightgray;
    color:#222222;
    border:none;
    border-radius:7px;
    margin-top:10px;
    height:200px;
    width:500px;
    padding:8px;
}

.tableButtonCell {
    vertical-align: top;
    height:30px;
}

.generateResults {
    display:none;
}